

     {{>header}}
    <div class="jumbotron color-grey-light mt-70">
      <div class="d-flex align-items-center h-100">
        <div class="container text-center py-5">
          <h3 class="mb-0">Product page</h3>
        </div>
      </div>
    </div>

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main>
    <div class="container">

      <!--Section: Block Content-->
      <section class="mb-5">

        <div class="row">
          <div class="col-md-6 mb-4 mb-md-0">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

              <div class="row product-gallery mx-1">

                <div class="col-12 mb-0">
                  <input type="hidden" id='shopid' value="">
                  <input type="hidden" id="show-price">
                  <input type="hidden" id='show-gst'>
                  <input type="hidden" name="" id="shop-product-id" >
                  <input type="hidden" id='qty-info-value'>
                  <input type="hidden" id='product-category' value="{{data.[0].category._id}}">
                  <input type="hidden" id='productid' value="{{data.[0]._id}}">
                   {{!-- {{#each data.[0].images}} --}}
                  <figure class="view overlay rounded z-depth-1 main-img" >
                    <a href="{{data.[0].images.[0]}}"
                       data-size="710x823">
                       <img src="{{data.[0].images.[0]}}"
                       class="img-fluid z-depth-1"  style="margin-top: 2px;">
                    </a>
                  </figure>
                  {{!-- {{/each}} --}}
              
                </div>
                <div class="col-12">
                  <div class="row">
                    {{#each data.[0].images}}
                    <div class="col-3">
                      <div class="view overlay rounded z-depth-1 gallery-item hoverable">
                        <img src="{{this}}"
                          class="img-fluid" style='height:8rem;width:8rem;'>
                        <div class="mask rgba-white-slight"></div>
                      </div>
                    </div>
                    {{/each}}
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="col-md-6">

            <h5>{{data.[0].product}}</h5>
            <p class="mb-2 text-muted text-uppercase small">{{data.[0].category.categoryname}}</p>
         
            <p><span class="mr-1"><strong id='price'></strong></span><p><button class="btn btn-primary cnt-gst btn-md mr-1 mb-2" style="display: none;">Count Gst</button><p id='gst-info' style="display: none;"></p></p>
           <span id='show-details'><a href="#" class="show-product-details">Product Details</a></span>
            <hr>
            <p class="pt-1 product-details" style="display:block;"></p>
            <input type='hidden' id="description" value="{{data.[0].description}}">
            <div class="table-responsive">
  
            </div>
            <hr>
            <div class="table-responsive mb-2">
              <table class="table table-sm table-borderless">
                 <tbody>
                   <tr>
                     <td class="pl-0 pb-0 w-25">Quantity</td>
                    </tr>
                   <tr>
                     <td class="pl-0" id='category-load'>
                       <div class="def-number-input number-input safari_only mb-0">
                        <input class="quantity" min="0" id='qty' name="quantity" id='qty' value="1" type="number">
                      </div>
                     <p id='qty-info' style="color: red;"></p>
                   </td>
                     <td>
                       <div class="mt-1">
                         <div id='sub-category'></div>
                       </div>
                     </td>
                   </tr>
                </tbody>
              </table>
            </div>
            <a href="/make-order">Add Customer Details</a><br>
            <button type="button" class="btn btn-primary btn-md mr-1 mb-2 order">Buy now</button>
            <button type="button" class="btn btn-light btn-md mr-1 mb-2 cart"><i class="fa fa-shopping-cart pr-2"></i>Add to
              cart</button>
              
          </div>
        </div>

      </section>
      <!--Section: Block Content-->

      <!-- Classic tabs -->
      <div class="classic-tabs">

        <ul class="nav tabs-primary nav-justified" id="advancedTab" role="tablist" style="background-color:white;">
         
          <li class="nav-item">
            <a class="nav-link active show" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
              aria-selected="false">Releated Shops</a>
          </li>
        </ul>
        <div class="tab-content" id="advancedTabContent">
          <div class="tab-pane fade " id="description" role="tabpanel" aria-labelledby="description-tab">
            <h5>Product Description</h5>
            <p class="small text-muted text-uppercase mb-2">{{data.[0].product}}</p>
           
            <h6 id='price'></h6>
            <p class="pt-1">{{data.[0].description}}</p>
          </div>
         
          <div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="reviews-tab" style="background-color: white;">
            <h5><span>Related Shops List</span></h5>
            <div class="media mt-3 mb-4">
            
              <div class="media-body">
                 <div id="order-shop-div"></div>
      
          </div>
 
              </div>
            </div>
            <hr>
            
                 </div>
               </div>
             <div>
           </div>
         </div>
      </div>

      </div>
      <!-- Classic tabs -->

      <hr>

      <!--Section: Block Content-->
      <section class="text-center">

        <h4 class="text-center my-5"><strong>Related products</strong></h4>

        <!-- Grid row -->
        <div class="row" id="related-product" style="padding:10px;">



        </div>
        <!-- Grid row -->

      </section>
      <!--Section: Block Content-->

    </div>
  </main>
  <!--Main layout-->
  {{>footer}}
  <!-- JQuery -->
  <script src="./jquerysi.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="./popersi.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="./bootstrapsi.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="./mdbsi.min.js"></script>
    <!-- MDB Ecommerce JavaScript -->
    <script type="text/javascript" src="./mdbecommercesi.min.js"></script>
    <script src="./single.js"></script>
  <script>
    $(document).ready(function () {
      // MDB Lightbox Init
      $(function () {
        $("#mdb-lightbox-ui").load("../../../mdb-addons/mdb-lightbox-ui.html");
      });
    });
  </script>
</body>

</html>